ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-shadow: 2px 2px 2px grey;
    width: 100%
  }
  
  li {
    float: right;
    display: block;
    color: gray;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    text-decoration: underline;
    text-decoration-color: green;
    font-weight: 600;
    color: green;
  }

  .menu {
    width: 100%
  }
  .toright {
    float: right;
  }
  .phone {
    padding-top: 12px;
    float: left;
  }